<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {{ template "globalCss"}}
</head>
<body>
{{template "menu"}}
<section class="container-fluid">
    <div class="row col-5">
        <form method="post">
            <h1>Reset password</h1>
            <label>
                Old password
                <input type="password" name="oldPassword" placeholder="old password" required>
            </label>
            <label>
                New password
                <input type="password" name="newPassword" placeholder="new password" required>
            </label>
            <label>
                Again new password
                <input type="password" name="againNewPassword" placeholder="again new password" required>
            </label>
            <p>{{.ResetPasswordError}}</p>
            <div>
                <button type="submit" name="from" value="resetPassword">Submit</button>
            </div>
        </form>
    </div>
    <div class="row col-3">
        <form method="post">
            <h1>Add user</h1>
            <label>
                Username
                <input type="text" name="username" placeholder="username" maxlength="255" required>
            </label>
            <label>
                password
                <input type="password" name="password" placeholder="password" required>
            </label>
            <p>{{.RegisterError}}</p>
            <div>
                <button type="submit" name="from" value="addUser">Submit</button>
            </div>
        </form>
    </div>
    <div class="row col-3">
        <form method="post">
            <input name="from" value="deleteUser" hidden>
            <h1>Delete user</h1>
            <ul class="list-group">
                {{ range $value := .Users }}
                <li class="list-group-item">{{ $value.Username }}
                    <button type="submit" name="uuid" value="{{ $value.Id }}">Delete</button>
                </li>
                {{ end }}
            </ul>
            <p>{{.DeleteUserError}}</p>
        </form>
    </div>


</section>
</body>
</html>